<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>
<form action="" class="form mt-4" [formGroup]="novoUsuarioForm"
  (submit)="cadastrar()">
  <div class="form-group mb-2">
    <input
      class="form-control"
      placeholder="Email"
      formControlName="email">
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
      novoUsuarioForm.get('email')?.touched"
      mensagem="Email obrigatório"></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] &&
      novoUsuarioForm.get('email')?.touched"
      mensagem="Email no formato incorreto"></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      placeholder="Nome Completo"
      class="form-control"
      formControlName="fullName">
    <app-mensagem
      *ngIf="novoUsuarioForm.get('fullName')?.errors &&
      novoUsuarioForm.get('fullName')?.touched"
      mensagem="Nome incorreto"></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      placeholder="Usuario"
      class="form-control"
      formControlName="username">
    <app-mensagem
      *ngIf="novoUsuarioForm.get('username')?.errors?.['minusculo'] &&
      novoUsuarioForm.get('username')?.touched"
      mensagem="Usuário deve ser letra minúscula"></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
      mensagem="Usuário já existe"></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      placeholder="Senha"
      class="form-control"
      type="password"
      formControlName="password">
    <app-mensagem
      *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
      mensagem="Senha deve ser diferente do usuário">

    </app-mensagem>
  </div>
  <div class="d-grip gap-2 btn-block">
    <button class="btn btn-primary">Cadastro</button>
  </div>
</form>
<p>Já é um usuário?<a [routerLink]="['']"> Faça o login!</a></p>
